body{
    height: 100vh;
    background-image: url("../images/vintage-concrete.png")
}

#header{
    margin: auto;
    height: 12%;
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    text-align: center;
}

#header2{
    width: 960px;
    height: 100%;
    margin: auto;
    background-color: #ffffff;
}

#name{
    width: 30%;
    height:100%;
    background-color: #4aaaa5;
    display: block;
    float: left;
    color: #ffffff;
    font-size: 35px
}

#nav{
    width: 70%;
    float: right;
    color: #ccc;
    font-size: 23px;
}

#options{
    float: right;
    padding-top: 4vh;
}

#name2{
    padding-top: 4vh;
}

#content{
    margin: auto;
    width: 960px;
}

#headshot{
    height: 500px;
    width: 650px;
    background-color: #fff;
    margin-top: 30px;
    border: 2px solid #ccc;
    margin-bottom: 50px;
    display: inline-block;
}

#aboutme{
    color: #4aaaa5;
    font-size: 35px;
}

#aboutmediv{
    margin:30px;
    line-height: 80px;
    border-bottom: 3px solid #ccc;
}

#network{
    height: 200px;
    width: 270px;
    background-color: #fff;
    display: inline-block;
    float: right;
    margin-top: 30px;
    border: 2px solid #ccc;
}

img{
    height: 50px;
    width: 50px;
}

.footer {
    height: 10%;
    border-top: 8px solid #4aaaa5;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ccc;
    text-align: center;
    padding-top: 30px;
}